# Ignore Python cache files
*.pyc
__pycache__

# Ignore test and coverage files
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Ignore virtual environment directories
.venv
venv
env/
ENV/

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

# Ignore database files
*.db
*.sqlite3

# Ignore logs
logs/
*.log
